<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>thoughtworks</id>
      <name>ThoughtWorks Maven Repository Mirror.</name>
      <url>http://{{ hostvars[groups['repository'][0]]['ansible_host'] }}/repository/maven-public/</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>thoughtworks</id>
      <repositories>
        <repository>
          <id>thoughtworks-repository</id>
          <name>ThoughtWorks Maven Repository Group</name>
          <url>http://{{ hostvars[groups['repository'][0]]['ansible_host'] }}/repository/maven-public/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>thoughtworks</activeProfile>
  </activeProfiles>
</settings>
