URL=http://127.0.0.1
PORT=8080
volume_driver=local
volume_work=/data/lib/jenkins
plugins=git subversion workflow-aggregator dashboard-view cloudbees-folder token-macro simple-theme docker ldap locale swarm
config={{ rancher_jenkins_config | to_json }}
