{
  "name":"{{ RANCHER_PROJECT_NAME }}", 
  "description":"{{ RANCHER_PROJECT_NAME }}", 
  "allowSystemRole":false, 
  "members":[], 
  "swarm":false, 
  "kubernetes":false, 
  "mesos":false, 
  "virtualMachine":false, 
  "publicDns":false, 
  "servicesPortRange":null
}