[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
[req_distinguished_name]
[ v3_req ]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
DNS.5 = toc-master01
IP.1  = 10.202.128.107
IP.2  = 10.202.128.109
IP.3  = 10.202.128.110
IP.4  = 10.202.128.111
